.popup__close {
    border: none;
    background: transparent;
    position: absolute;
    top: -42px;
    right: -40px;
    width: 40px;
    height: 40px;
    cursor: url('../../../images/cursor.svg'), pointer;
    transform: rotate(45deg);
    background-image: url('../../../images/plus.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
}

@media screen and (max-width: 620px) {
    .popup__close {
        top: -43px;
        right: 0;
        width: 26px;
        height: 26px;
        padding: 0;
    }
}