@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/content/content.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__img/profile__img.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__wrapper/profile__wrapper.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__current-info/profile__current-info.css');
@import url('../blocks/profile/__button-edit/profile__button-edit.css');
@import url('../blocks/profile/__button-edit/_icon/profile__button-edit_icon.css');
@import url('../blocks/profile/__button-add/profile__button-add.css');
@import url('../blocks/elements/elements.css');
@import url('../blocks/elements/__element/elements__element.css');
@import url('../blocks/elements/__img/elements__img.css');
@import url('../blocks/elements/__content/elements__content.css');
@import url('../blocks/elements/__title/elements__title.css');
@import url('../blocks/elements/__button-like/elements__button-like.css');
@import url('../blocks/elements/__icon/elements__button-icon.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/__container/popup__container.css');
@import url('../blocks/popup/__form/popup__form.css');
@import url('../blocks/popup/__fieldset/popup__fieldset.css');
@import url('../blocks/popup/__title/popup__title.css');
@import url('../blocks/popup/__name/popup__name.css');
@import url('../blocks/popup/__current/popup__current.css');
@import url('../blocks/popup/__button/popup__button.css');
@import url('../blocks/popup/__close/popup__close.css');
@import url('../blocks/popup/__close/_icon/popup__close_icon.css');
@import url('../blocks/popup/_opened/popup_opened.css');